<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <script id="httpsRedirect">
      if (location.protocol !== 'https:') {
        location.href =
          'https:' +
          window.location.href.substring(window.location.protocol.length);
      }
    </script>
  </head>
  <body class="px-3 py-6 bg-gray-100"></body>
</html>
