.c-list-item {
  &__delete {
    &:focus {
      @apply shadow-outline outline-none;
    }
    text-indent: -9999px;
    &:after,
    &:before {
      @apply absolute block;
      content: '';
      background-color: currentColor;
      width: 1px;
      height: 60%;
      left: calc(50% - 0.5px);
      top: 20%;
      transform: rotate(45deg);
      transform-origin: center center;
    }

    &:before {
      transform: rotate(-45deg);
    }
  }
}
